#circle {
  width: 400px;
  height: 400px;
  -webkit-border-radius: 400;
  -moz-border-radius: 400px;
  border-radius: 400px;
  background: red;
  /* float: left; */
}

#playground {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #d2fcd9;
}

.container {
  align-content: center;
  border: 1px;
  height: 100px;
  border-color: red;
  border-style: dotted;
}

#opt {
  float: right;
}
