.jumbotronHeaderImg {
  background-image: url("../images/cover2.png");
  min-width: 100%;
}
.headerDiv {
  margin-top: 50px;
}
.posterDiv {
  margin-left: 30px;
  font-size: 4;
}

.moodClass {
  font-family: "Courier New", Courier, monospace;
}

.no-under-line {
  text-decoration: none;
}

.initLet {
  initial-letter: initial;
}
p::first-letter {
  float: left;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
}

ul {
  list-style-type: none;
}

ul.basic-mov > li {
  color: orange;
  font-size: 12px;
}

.sub-mov {
  color: black;
}
